# Dependencies
node_modules

# Build
dist

# Local assets (keep private)
profile.jpeg
Fadheeluddeen_Resume.pdf

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea
